<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>API Documentation</h1><br>

  <h3>"/getDataHour"</h3><br>
  <p>Use this to get home average temperature at a particular hour.</p><br>
  <p>Example: http://127.0.0.1:5000/getDataHour?date=2019-01-20&hour=03</p><br>
  <p> Provide Date and hour.</p><br>

  <h3>"/getDataDay"</h3><br>
  <p>Use this to get home average temperature at a particular day.</p><br>
  <p>Example: http://127.0.0.1:5000/getDataDay?date=2019-01-20</p><br>
  <p> Provide Date.</p><br>

  <h3>"/compareHour"</h3><br>
  <p>Use this to compare home average temperature at a particular hour of day with weather that day.</p><br>
  <p>Example: http://127.0.0.1:5000/compareHour?date=2019-01-20&hour=07</p><br>
  <p> Provide Date and Hour.</p><br>

  <h3>"/compareDay"</h3><br>
  <p>Use this to compare home average temperature at a particular day with weather that day.</p><br>
  <p>Example: http://127.0.0.1:5000/compareDay?date=2019-01-20</p><br>
  <p> Provide Date.</p><br>
</body>
</html>